{% extends "base.html" %}

{% block page_title %}
{{book.title}}
{% endblock %}

{% block body %}
<div class="row">
  <div class="col-3">
    <img class="mx-auto d-block" style="width: 100%;" src="{{ url_for ('get_cover', book_id=book.id) }}"/><br/>
    <p class="text-center">
        <button type="button" onclick="fetch_metadata()" class="btn btn-primary">Refresh Metadata</button>
        <a type="button" class="btn btn-danger" href="{{url_for('delete_book', book_id=book.id)}}">Delete book</a>
    </p>
  </div>
  <div class="col-5">
    <form method="POST" action="{{ url_for('book_save', book_id=book.id) }}">
      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="book_title">Book title</label>
        <input type="text" class="form-control col-sm-10" name="title" id="book_title" value="{{book.title}}">
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="book_authors">Authors</label>
        <input type="text" class="form-control col-sm-10" name="authors" id="book_authors" value="{{book.authors}}">
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="book_publisher">Publishers</label>
        <input type="text" class="form-control col-sm-10" name="publisher" id="book_publisher" value="{{book.publisher}}">
      </div>
      {% if book.isbn %}
      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="book_extlinks">External links</label>
        <p id="book_extlinks">
          <a target="_blank" href="https://openlibrary.org/isbn/{{ book.isbn }}">Open Library</a>
        </p>
      </div>
      {% endif %}
      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="book_commentss">Comments</label>
        <textarea class="form-control col-sm-10" rows="5" name="comments" id="book_comments">{% if book.comments %}{{book.comments}}{% endif %}</textarea>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="book_tags">Tags</label>
        <input type="text" class="form-control col-sm-10" name="tags" id="book_tags" value="{{book.tags}}">
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="book_languages">Languages</label>
        <input type="text" class="form-control col-sm-10" name="languages" id="book_languages" value="{{book.languages}}">
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="book_pubdate">Publication</label>
        <input type="text" class="form-control col-sm-10" name="pubdate" id="book_pubdate" value="{{book.pubdate}}">
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="book_rating">Rating</label>
        <select id="book_rating" name="rating" class="form-control col-sm-10">
          <option {% if not book.rating %}selected{% endif%}>Not rated</option>
          {% for i in range(0, 6) %}
          <option {% if book.rating == i %}selected{% endif %}>{{ i }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
  <div class="col-4" style="padding-left: 5%;">
    <h2 class="text-center">Formats</h2>
    <table class="table">
      <tbody>
        {% for format in formats.formats_sizes %}
        <tr>
          <td>
            <a href="{{url_for("download_book_file", book_id=book.id, book_format=format.format)}}">{{format.format}}</a>
          </td>
          <td>{{format.size}} MB</td>
          <td><a type="button" class="btn btn-danger btn-sm" href="{{url_for('delete_book_format', book_id=book.id, book_format=format.format)}}">×</a></td>
        </tr>
        {% endfor%}
      </tbody>
    </table>
    <form id="format-upload" class="form-group text-center" action="{{ url_for('add_format', book_id=book.id) }}" method="post" enctype="multipart/form-data">
      <label class="btn file btn-primary">
        Upload new format<input type="file" id="format_upload" name="format_upload" hidden multiple>
      </label>
    </form>
    {% if formats.formats_list|length > 0 %}
    <hr />
    <h2 class="text-center">Conversion</h2><br/>
    <form action="{{url_for('convert_book', book_id=book.id)}}" method="POST">
      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="format_from">From</label>
        <select class="form-control col-sm-8" name="format_from">
          {% for format in formats.formats_sizes %}
          <option>{{format.format | upper}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group row">
        <label class="col-form-label col-sm-2" for="format_to">To</label>
        <select class="form-control col-sm-8" name="format_to">
          {% for format in formats_to %}
          {% if format not in formats.formats_list %}
          <option {% if format|upper == preferred|upper %}selected{% endif %}>{{format | upper}}</option>
          {% endif %}
          {% endfor %}
        </select><br/>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-success">Convert</button>
      </div>
    </form>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $(function () {
    $("#format_upload").change(function () {
      $("#format-upload").submit();
    });
  });

  function fetch_metadata() {
      $.post("/books/{{ book.id }}/metadata", {})
        .done(function () { location.reload(); });
    };
</script>
{% endblock %}
