{% extends "base.html" %}
{% block page_title %}
{{title}}
{% endblock %}

{% block body %}

<div class="row justify-content-md-center">
  <div class="col-6">
    <h2>{{title}}</h2><br/>
    <p>Visit <code>{{url}}</code> now on your device to enroll it!</p>
    <table class="table table-hover">
      <thead>
        <tr><td>Device ID</td><td>Device Name</td><td>Formats</td><td></td><td></td></tr>
      </thead>
      <tbody>
        {% for device in deviceslist %}
        <tr><td>{{device.uid}}</td><td>{{device.name}}</td><td>{{device.formats}}</td><td><a type="button" class="btn btn-success" href="{{ url_for('device_edit', device_id=device.uid) }}">Edit</a></td><td><a type="button" class="btn btn-danger" href="{{ url_for('device_delete', device_id=device.uid) }}">Delete</a></td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
