{% extends "base.html" %}
{% block page_title %}
{{title}}
{% endblock %}

{% block body %}
<div class="list-panel">
  <div class="list-panel-header">
    <h2>{{title}}</h2>
  </div>
  <div class="panel-info">Enroll a new device by visiting <code>{{url}}</code> on the device.</div>
  {% for device in deviceslist %}
  <div class="list-item">
    <div class="device-meta">
      <a class="device-name" href="{{ url_for('device_feed', device_id=device.uid) }}">{{device.name}}</a>
      <div class="device-detail"><code>{{device.uid}}</code> &middot; {{device.formats}}</div>
    </div>
    <div class="device-actions">
      <a class="btn-action btn-action-edit" href="{{ url_for('device_edit', device_id=device.uid) }}">Edit</a>
      <a class="btn-action btn-action-delete" href="{{ url_for('device_delete', device_id=device.uid) }}">Delete</a>
    </div>
  </div>
  {% endfor %}
  {% if not deviceslist %}
  <div class="list-empty">No devices enrolled</div>
  {% endif %}
</div>
{% endblock %}
