<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo="/>
    <title>Calibre | {{ title }}</title>
    <meta charset="utf-8">
    <style>
    .cover {
      height:300px;
      max-width: 100%;
    }
    td {
      padding: 10px;
    }
    </style>
    <title>{{title}}</title>
  </head>

  <body>
    <center>
    <h1>{{title}}</h1>
    <table>
    {% for book in books %}
    {% if loop.index % 3 == 1 %}
    <tr>
    {% endif %}
      <td>
        <a href="{{ url_for('device_feed_download_book_file', book_id=book.id, book_format=book_format, device_id=device_id) }}">
          <img class="cover" src="{{ url_for('device_feed_get_cover', device_id=device_id, book_id=book.id) }}"/><br/>
          {{book.title | truncate(30)}}
        </a>
        {% if book.series %}&nbsp;#{% if book.series_index | int == book.series_index %}{{book.series_index | int}}{% else %}{{book.series_index}}{% endif %}{% endif %}
      </td>
    {% if loop.index % 3 == 0 %}
    </tr>
    {% endif %}
    {% endfor %}
    </table>
    <h1><a href="{{ url_for('device_feed', device_id=device_id, page=(page+1)) }}">Next</a></h1>
    </center>
  </body>
</html>
