{% extends "base.html" %}

{% block page_title %}
{{title}}
{% endblock %}

{% block body %}
<center><h2>{{title}}</h2></center><br/>
<div class="row justify-content-md-center">
{% for book in books %}
<div class="col-sm-3 col-lg-2 col-xs-6 ">
  <a href="{{url_for('book_edit', book_id=book.id)}}">
    <img class="cover mx-auto d-block" src="{{ url_for('get_cover', book_id=book.id)}}"/>
  </a><br/>
  <center>
    <p><a style="color: #000000; font-size: 100%;" href="{{url_for('book_edit', book_id=book.id)}}">{{book.title | truncate(50)}}</a></br>
  <a style="color: #00aaaa; font-size: 90%;" href="{{ url_for('index', search=book.author)}}">{{book.author | truncate(50)}}</a></p>
  </center>
</div>
{% endfor %}
</div>
{% endblock %}
