{% extends "base.html" %}

{% block page_title %}
{{title}}
{% endblock %}

{% block body %}
<h2 class="text-center mb-4">{{title}}</h2>
<div class="books-grid" id="books_list">
  {% for i in range(12) %}
  <div class="skeleton-placeholder">
    <div class="skeleton-card">
      <div class="skeleton-cover"></div>
      <div class="skeleton-line" style="width: 80%;"></div>
      <div class="skeleton-line" style="width: 50%;"></div>
    </div>
  </div>
  {% endfor %}
</div>
<div class="text-center mb-3">
  <button onclick="load_more_books();" class="btn btn-info" id="load_more">Load more</button>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
  var trim_str = function (str, max = 50) { return str.length > max ? str.substring(0, max - 3) + '…' : str; }
  var page = 1;
  var load_more_books = function () {
    $.getJSON('{{url_for("get_books")}}?page='
      + page {% if search %} + '&search={{ search }}'{% endif %}{% if scope %}
  +'&search_scope={{ scope }}'{% endif %}, function (data) {
    if (data.length == 0) {
      $("#load_more").hide();
      $('#books_list').html('<div style="grid-column:1/-1;text-align:center"><h3 class="text-empty">No books found!</h3></div>');
      return;
    }
    $('.skeleton-placeholder').remove();
    books_list = $('#books_list').html();
    for (i = 0; i < data.length; i++) {
      authors = [];
      authors_split = data[i]['authors'].split(';');
      for (k = 0; k < authors_split.length; k++) {
        authors.push('<a class="book-author-link" href="{{ url_for('index')}}?search=' + authors_split[k] + '&search_scope=authors">' + authors_split[k] + '</a>');
      }
      authors = authors.join(' - ');
      books_list += '<div class="book-card">' +
        '<a href="/books/' + data[i]['id'] + '/edit">' +
        '<div class="book-cover-container">' +
        '<img class="cover" loading="lazy" src="/books/' + data[i]['id'] + '/thumb"/>' +
        `${data[i]['read'] ? '<span class="read-banner">READ</span>' : ''}` +
        '</div>' +
        '</a>' +
        '<div class="book-card-info">' +
        '<a class="book-title-link" href="/books/' + data[i]['id'] + '/edit">' + trim_str(data[i]['title']) + '</a>' +
        (data[i]['series'] ? ` <a class="book-series-link" href="?search=${data[i]['series']}&search_scope=series">#${data[i]['series_index']}</a>` : '') +
        '<br/>' + authors +
        '</div>' +
        '</div>';
    }
    $("#books_list").html(books_list);
    page += 1;
  });
    };

  load_more_books();
  $(window).on('scroll', function () {
    if ($(window).scrollTop() >= $(document).height() - $(window).height()) {
      load_more_books();
    }
  });

</script>
{% endblock %}
