{% extends "base.html" %}
{% block page_title %}
{{title}}
{% endblock %}

{% block body %}
<div class="list-panel">
  <div class="list-panel-header">
    <h2>{{title}}</h2>
    <button onclick="clear_tasks();" class="btn-clear">Clear</button>
  </div>
  <div id="taskslist">
    <div class="list-empty">Loading...</div>
  </div>
</div>
{% endblock %}
{% block javascript %}
  <script type="text/javascript">
    var clear_tasks = function() {$.getJSON('{{url_for("clear_tasks")}}');};
    var status_class = {'COMPLETED': 'status-completed', 'RUNNING': 'status-running', 'CANCELED': 'status-canceled'};
    var fetch_tasks = function() {$.getJSON('{{url_for("get_tasks_list")}}', function (data) {
      if (data.length === 0) {
        $("#taskslist").html('<div class="list-empty">No tasks</div>');
        return;
      }
      var tasks = '';
      for (var i = 0; i < data.length; i++) {
        tasks += '<div class="list-item">' +
          '<span class="status-badge ' + status_class[data[i].status] + '">' + data[i].status + '</span>' +
          '<span class="list-item-message">' + data[i].message + '</span>' +
          '</div>';
      }
      $("#taskslist").html(tasks);
      });
    };
    fetch_tasks();
    window.setInterval(fetch_tasks, 5000);
  </script>
{% endblock %}
